
.divA{ width:500px; height: 500px; background-color:rgb(42, 160, 149)}

.divAfilho{ width:300px; height: 300px; background-color:rgb(74, 60, 133)}

.txt {color: white; background-color: black; font-size: 50px; font-family: monospace;}

.divD{ width:400px; height: 400px; background-color:rgb(6, 38, 103)}

.divDfilha{ width:200px; height: 200px; background-color:rgb(117, 0, 62)}
